name: Test

on:
  push:
    branches: [main, next, version_issues]
  pull_request:
    branches: [main, next, version_issues]

jobs:
  pre-commit:
    runs-on: ${{  matrix.os  }}
    defaults:
      run:
        shell: bash -e {0} # -e to fail on error

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-11]
        python: ["3.9", "3.10"]

    env:
      OS: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --files src/multivelo/auxiliary.py src/multivelo/dynamical_chrom_func.py src/multivelo/steady_chrom_func.py src/multivelo/mv_logging.py src/multivelo/settings.py

  test:
    runs-on: ${{  matrix.os  }}
    defaults:
      run:
        shell: bash -e {0} # -e to fail on error

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-11]
        python: ["3.9", "3.10"]

    env:
      OS: ${{ matrix.os }}

    steps:
      # Check
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: "${{ matrix.python }}"
      - name: Install requirements
        run: |
          pip3 install -r requirements.txt
      - name: Test with pytest
        run: |
          pip3 install -e .
          pytest
